generate_load_scripts: true

source https://nuget.org/api/v2
framework: net462

nuget Freya.Hopac prerelease
nuget FSharp.Control.Reactive

group Build
    source https://nuget.org/api/v2

    nuget FsReveal
    nuget FAKE
    nuget Suave