generate_load_scripts: true

source https://nuget.org/api/v2
framework: net462

nuget Freya.Hopac prerelease
nuget FSharp.Control.Reactive
nuget LicenseToCIL

group Build
    generate_load_scripts: false
    source https://nuget.org/api/v2

    nuget FsReveal
    nuget FAKE
    nuget Suave